
/.vs/*
/CSharpLab/bin/*
/CSharpLab/obj/*

FullDotnetExamples/obj/Debug/FullDotnetExamples\.csproj\.CoreCompileInputs\.cache

FullDotnetExamples/obj/Debug/FullDotnetExamples\.csprojAssemblyReference\.cache

Chapter4/bin/

Chapter4/obj/

packages/
